
<script>
    let user = document.getElementById('nameuser')
    if (!user.innerText) {
    document.getElementById('outUser').style.display = 'block';
    document.getElementById('outUser1').style.display = 'block';

    } else {
    document.getElementById('inUser').style.display = 'block';
    document.getElementById('inUser1').style.display = 'block';
    document.getElementById('userName').innerHTML = user.innerText;
    document.getElementById('userName1').innerHTML = user.innerText;

    }
</script>
<script src="u/js/jquery-3.3.1.min.js"></script>
<script src="u/js/bootstrap.min.js"></script>
<script src="u/js/jquery.nice-select.min.js"></script>
<script src="u/js/jquery.nicescroll.min.js"></script>
<script src="u/js/jquery.magnific-popup.min.js"></script>
<script src="u/js/jquery.countdown.min.js"></script>
<script src="u/js/jquery.slicknav.js"></script>
<script src="u/js/mixitup.min.js"></script>
<script src="u/js/main.js"></script>
<script src="js/script.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>